#### Copyright 2019 Google LLC.

In [0]:
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Introduction to SQL

![exploits_of_a_mom.png](https://imgs.xkcd.com/comics/exploits_of_a_mom.png)

A lot of the data that we interact with today is stored in databases. For example:

- Student records, including grades, at a school
- Posts and friends in your favorite social network
- News stories on a newspaper's website
- Your contacts list on your mobile phone
- All images that make up Google Maps

All these bits of information are stored in various kinds of databases. Some of these are stored in relational databases that are available as open source tools like Postgresql, MySQL and SQLite, as well as commercial databases such as [Google BigQuery](https://cloud.google.com/bigquery/), [Oracle](https://www.oracle.com/database/technologies/), [Microsoft SQL Server](https://azure.microsoft.com/en-us/services/virtual-machines/sql-server/), or [Amazon Aurora](https://aws.amazon.com/rds/aurora/)

Others are stored in proprietary systems like Google's [BigTable](https://en.wikipedia.org/wiki/Bigtable) or Facebook's [Haystack Object Store](https://code.fb.com/core-data/needle-in-a-haystack-efficient-storage-of-billions-of-photos/).

Whatever the database might, there needs to be a way to extract data from it and a lot of these systems have agreed on a shared language for accessing data.  For relational databases, this language is called SQL (Structured Query Language, pronounced like "sequel").

## Overview

### Learning Objectives

* Write simple SQL queries to perform filtering, sorting, grouping and arithmetic
* Use JOIN to merge tables and concept of the different joint (left, right, outer, inner)
* Understand the use of keywords: AS, LIMIT, and HAVING

### Prerequisites

* None

### Estimated Duration

60 minutes

# Set up Access to Google BigQuery

## Create Google Cloud Project

Go to [Google BigQuery Console](https://console.cloud.google.com/bigquery/)

  * Click `CREATE` button to create a new project
  * Enter a name for your project, eg: AMLI
  * Now you have your own project and should be redirected to BigQuery Console page in [`SANDBOX` mode](https://cloud.google.com/blog/products/data-analytics/query-without-a-credit-card-introducing-bigquery-sandbox) with the following [documentation](https://cloud.google.com/bigquery/docs/sandbox)
  * On the left navigation bar, you should see your unique project id as the project name is probably not unique.  Click on the project id.

## Create or Add Existing Dataset to Your Project

The new project does not have datasets but you can create new dataset or add dataset from Google Cloud public dataset collection.

First create your first dataset, and name it `amli`:

  * Click your project id on the left navigation bar
  * Click `CREATE DATASET` on the bottom right
  * Set Dataset ID field to `amli`
  * Set Data location to US
  * In `SANDBOX` mode, leave the expiration date to 60 days
  
Next add BigQuery Public Dataset:

  * Click here to [add BigQuery public data set](https://console.cloud.google.com/bigquery?project=bigquery-public-data&page=project) to your project
  * Click `bigquery-public-data` on the left navigation bar, and click `PIN PROJECT` on the right side of the page.  This will ensure the bigquery-public-data is always readily accessible on your console

## Now we're ready for SQL Colabs

__Important:__ Before you start, make sure to change the placeholder project id with **your project id**.  To do that:

  * Go to your colab page
  * Hit Ctrl-H to bring up the Find/Replace tool
  * Enter `replace_with_your_project_id` to find the placeholder project id
  * Enter your project id as replacement
  * Find and replace all occurrences of the project id.

# Dataset

In this Colab, we will try out SQL hands-on with an Austin bike sharing dataset, hosted on Google BigQuery.

## Access the dataset

Before we get started, we need to authenticate so we are granted access to the dataset:
  * Run the code snippet below
  * You'll be presented a URL for you to click to open a new browser tab and ask you to choose which Google account you'll like to connect to Google Cloud
  * Click `Allow` in the following screen to approve
  * Once you give your approval, you'll be presented with a token code
  * Please copy the token code, and go back to your lab and paste the token code in the input box

In [0]:
# Authenticate to access Google BigQuery

project_id = 'replace_with_your_project_id'
from google.colab import auth
auth.authenticate_user()

print ('Authentication completed.')

## Verify access to the dataset

Once you're authenticated, let's verify that you have access to the dataset by running a simple SQL query.

The code snippet contains a few lines:
 *  The first line of that code block is just a magic invocation that connects us to the database we are going to use.
 *  The second line introduces SQL syntax for the first time.  The SQL statement translates to: grab (SELECT) all the values (*) in the table called bigquery-public-data.austin_bikeshare.bikeshare_trips (FROM bikeshare_trips table within the bigquery-public-data austin_bikeshare dataset) but only show me the first ten (LIMIT 10).
 
__Note:__ To help you understand the SQL commands we are using, the SQL syntax words are listed in CAPITAL letters, the lowercase words are the names of tables or columns.

In [0]:
%%bigquery --project replace_with_your_project_id

SELECT
  *
FROM
  `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT
  10

The bikeshare_trips table is composed of several columns:

Field name | Type |	Mode	| Description
--- | --- | --- | ---
trip_id	| INTEGER	| NULLABLE	| Numeric ID of bike trip
subscriber_type	| STRING	| NULLABLE	| Type of the Subscriber
bikeid	| INTEGER	| NULLABLE	| ID of bike used
start_time	| TIMESTAMP	| NULLABLE	| Start timestamp of trip
start_station_id	| INTEGER	| NULLABLE	| Numeric reference for start station
start_station_name	| STRING	| NULLABLE	| Station name for start station
end_station_id	| INTEGER	| NULLABLE	| Numeric reference for end station
end_station_name	| STRING	| NULLABLE	| Station name for end station
duration_minutes	| INTEGER	| NULLABLE	| Time of trip in minutes

We don't always want to read all the columns in a table. For example, if we just want the subscriber type, start time, and duration in minutes columns we could select:

In [0]:
%%bigquery --project replace_with_your_project_id

SELECT
  subscriber_type, start_time, duration_minutes
FROM
  `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT
  10

__Tip:__ SQL doesn't care about line breaks so we can spread a SQL query over multiple lines just to make it easier to read.

# Filtering

We've seen how to look only at certain columns of the table but it is often useful to only look at certain rows in a table. For example, we could want to look only at the bike trips which are at least a certain number of minutes. Let's say you're only interested in bike trips of 60 minutes or more:

In [0]:
%%bigquery --project replace_with_your_project_id
SELECT
  subscriber_type, start_time, duration_minutes
FROM
  `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE
  duration_minutes >= 60
LIMIT
  10

It's also possible to filter by multiple criteria. For example to look at only bike trips which are 60 minutes or more and only the subscriber type of Walk Up:

In [0]:
%%bigquery --project replace_with_your_project_id
SELECT
  subscriber_type, start_time, duration_minutes
FROM
  `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE
  duration_minutes >= 60
AND
  subscriber_type = "Walk Up"
LIMIT
  10

# Sorting

So far, we've only looked at rows of data in the order the query is returning to us.  What if we want to see the rows in a certain sorting order?  We use the `ORDER BY` command to sort them by some other criteria. 

For example, to see the bike trips in the order of the duration in minutes:

In [0]:
%%bigquery --project replace_with_your_project_id
SELECT
  subscriber_type, start_time, duration_minutes
FROM
  `bigquery-public-data.austin_bikeshare.bikeshare_trips`
ORDER BY
  duration_minutes
LIMIT
  10

Well, it turns out by default the sorting order is __ascending__.  To sort the rows in __descending__ order, add the keyword `DESC`.

In [0]:
%%bigquery --project replace_with_your_project_id
SELECT
  subscriber_type, start_time, duration_minutes
FROM
  `bigquery-public-data.austin_bikeshare.bikeshare_trips`
ORDER BY
  duration_minutes DESC
LIMIT
  10

Of course, we can mix `WHERE` and `ORDER BY`, to get only the bike trips from Walk Up type of subscribers in the order of the duration.

In [0]:
%%bigquery --project replace_with_your_project_id
SELECT
  subscriber_type, start_time, duration_minutes
FROM
  `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE
  subscriber_type = "Walk Up"
ORDER BY
  duration_minutes
LIMIT
  10

# Aggregation

One very powerful feature of SQL is that it allows us to create summary information by grouping rows together.
For example, we could ask ourselves how many bike trips were taken for each subscriber type, and which subscriber type has the most bike trips?

In [0]:
%%bigquery --project replace_with_your_project_id
SELECT
  subscriber_type, COUNT(*)
FROM
  `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY
  subscriber_type
ORDER BY
  COUNT(*) DESC
LIMIT
  10

`GROUP BY subscriber_type` takes all the rows with a given subscriber_type and produces a single row in the result. This means that we need to tell SQL how we want to combine the other columns' values into a single row. The above example uses `COUNT(*)` which reports of the number of rows that were combined.

Aggregating the values for `subscriber_type` is not hard, since they're all the same, SQL just gives us a single copy of the publisher name.  Other columns, we need to either ignore (causing them to be omitted from the output) or specify a way to aggregate them.

We must specify an aggregate function for any column that we `SELECT` in our query (except the column that we're grouping by) in order for the command to succeed.  If we don't specify a way to aggregate the value, SQL will complain. For example, the following query should fail:

In [0]:
%%bigquery --project replace_with_your_project_id
SELECT
  subscriber_type, duration_minutes
FROM
  `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY
  subscriber_type
ORDER BY
  COUNT(*) DESC

Let's go back briefly to the first query in the Aggregation section.  The top result was the count of bike trips for subscriber_type `Walk Up`:

subscriber_type | f0_
--- | ---
Walk Up	| 374151

If you'd like to get a more granular break down of the count, you may specify multiple columns to aggregate within the `GROUP BY` clause, for example: further breakdown the aggregate count by the start station IDs:

In [0]:
%%bigquery --project replace_with_your_project_id
SELECT
  subscriber_type, start_station_id, count(*)
FROM
  `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE
  subscriber_type = 'Walk Up'
GROUP BY
  subscriber_type, start_station_id
ORDER BY
  COUNT(*) DESC

Great!  Now that you're familiar with how to aggregate data using SQL query by using `COUNT()` as your aggregation function, let' take a look at other aggregation functions.

There are [many such functions](https://www.postgresql.org/docs/9.5/functions-aggregate.html). Some common ones include:

- `SUM`: To add the values together
- `AVG`: To compute the mean of the values
- `MIN` or `MAX`: To compute the minimum and maximum respectively
    
So we could for example compute the __total__ number of minutes of all bike trips for the subscriber type `Walk Up`:

In [0]:
%%bigquery --project replace_with_your_project_id
SELECT
  subscriber_type, SUM(duration_minutes)
FROM
  `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE
  subscriber_type = 'Walk Up'
GROUP BY
  subscriber_type
LIMIT
  10

# Joining

It is frequently the case that the data we need is spread across multiple tables in our database. For example, we might want to store additional information about the starting and ending location of the ride beside their IDs in a table called `bikeshare_stations`.

Here's the columns in table `bikeshare_stations`

Field name |	Type |	Mode |	Description
--- | ---| ---| ---
station_id |	INTEGER |	NULLABLE |	Unique identifier of a station.
name |	STRING |	NULLABLE |	Public name of the station.
status |	STRING |	NULLABLE |	Status of the station. Allowed values: active, closed, moved, ACL only
latitude |	FLOAT |	NULLABLE |	The latitude of station. The field value must be a valid WGS84 latitude in decimal degrees format.
longitude |	FLOAT |	NULLABLE |	The longitude of station. The field value must be a valid WGS84 longitude in decimal degrees format.
location |	STRING |	NULLABLE |	The latitude and longitude of the station.

In [0]:
%%bigquery --project replace_with_your_project_id
SELECT
  *
FROM
  `bigquery-public-data.austin_bikeshare.bikeshare_stations`
LIMIT
  10

This means that we now have the data to answer questions like "How many bike trips originated from bike station that's currently active?" but the data are spread across two tables?

We could imagine storing the `status` column in our `bikeshare_trips` table since we list the start and end stations IDs for each game but there are a few important reasons why that's a bad idea:

1. We would waste space by duplicating data (not a big deal for this example but a real concern for large systems)
2. Updating data (for example status of station from active to closed) would require updating
   each row in `bikeshare_trips` that refers to that station ID. This is time-consuming and error-prone. 
   
Instead we leave the data in two separate tables and need a way to 'join' the values together. We can do that by just listing multiple table names but the result is a mess:

In [0]:
%%bigquery --project replace_with_your_project_id
SELECT
  *
FROM
  `bigquery-public-data.austin_bikeshare.bikeshare_trips`,
  `bigquery-public-data.austin_bikeshare.bikeshare_stations`
LIMIT
  10

If you look carefully you might notice that the rows are identical for the first few columns and then start to 
differ after `duration_minutes`. That's because SQL joins each row in the first table with each row in the second table. 
With 96 rows in `bikeshare_stations` and 1,077,929 rows in `bikeshare_trips`, we end up with a table of 103,481184 rows. 

This rarely if ever is what we want. In most cases, we want to match up some aspect of the rows in the first table with 
some aspect of the rows in the second table. In most cases, we want to match up based on some column being equal.

In our bike sharing example, the `station_id` column of `bikeshare_stations` matches up with the `start_station_id` or `end_station_id` column of `bikeshare_trips`. To force this match, we filter out the ones that don't have the same value for both of these columns:

In [0]:
%%bigquery --project replace_with_your_project_id
SELECT
  *
FROM
  `bigquery-public-data.austin_bikeshare.bikeshare_trips`,
  `bigquery-public-data.austin_bikeshare.bikeshare_stations`
WHERE
  `bigquery-public-data.austin_bikeshare.bikeshare_trips`.start_station_id =
  `bigquery-public-data.austin_bikeshare.bikeshare_stations`.station_id
LIMIT
  10

Notice that the result looks more sensical: we end up with one row from `bikeshare_trips` and the corresponding row from
`bikeshare_stations` (copied multiple times since there were only 96 rows in `bikeshare_stations`).

We can check the size of the resulting table by running:

In [0]:
%%bigquery --project replace_with_your_project_id
SELECT
  COUNT(*)
FROM
  `bigquery-public-data.austin_bikeshare.bikeshare_trips`, 
  `bigquery-public-data.austin_bikeshare.bikeshare_stations`
WHERE
  `bigquery-public-data.austin_bikeshare.bikeshare_trips`.start_station_id = 
  `bigquery-public-data.austin_bikeshare.bikeshare_stations`.station_id

Note that this is slightly smaller than the 1,077,929 rows that we started with in `bikeshares_trips` because bike trips whose starting station ID was not part of the list in `bikeshare_stations` got removed by the `WHERE` clause.

You might also see some cases where the comma between the table names is replaced with the keyword `JOIN` and `WHERE` is replaced with `ON`. This is synonymous but sometimes preferred to make it clear that you are joining two tables and that your filters are there to specify how those tables are to be joined:

In [0]:
%%bigquery --project replace_with_your_project_id
SELECT
  COUNT(*)
FROM
  `bigquery-public-data.austin_bikeshare.bikeshare_trips`
  JOIN `bigquery-public-data.austin_bikeshare.bikeshare_stations`
ON
  `bigquery-public-data.austin_bikeshare.bikeshare_trips`.start_station_id = 
  `bigquery-public-data.austin_bikeshare.bikeshare_stations`.station_id

We can now use all the SQL tools that we've learned on this combined table. For example, to find out which __active__ bike station which has the highest bike trip counts so we can ensure there is always plenty of bikes available, we can run:

In [0]:
%%bigquery --project replace_with_your_project_id
SELECT
  station_id, COUNT(trip_id) AS trip_count
FROM
  `bigquery-public-data.austin_bikeshare.bikeshare_trips`
  JOIN `bigquery-public-data.austin_bikeshare.bikeshare_stations`
ON
  `bigquery-public-data.austin_bikeshare.bikeshare_trips`.start_station_id = 
  `bigquery-public-data.austin_bikeshare.bikeshare_stations`.station_id
WHERE
  duration_minutes >= 60
  AND status = 'active'
GROUP BY
  station_id
ORDER BY
  trip_count DESC
LIMIT
  10

# Exercises

## Exercise 1: Filtering

Figure out how to get all the trips on the bike with id of `320` and only include rides which are shorter than 60 minutes.

### Student Solution

In [0]:
%%bigquery --project ...

### Answer Key

**Solution**

In [0]:
%%bigquery --project replace_with_your_project_id
SELECT
  subscriber_type, start_time, duration_minutes
FROM
  `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE
  duration_minutes < 60
AND
  bikeid = '320'
LIMIT
  10

**Validation**

In [0]:
# TODO(sangto)

## Exercise 2: Sorting

Get the start and end station IDs for bike trips that are longer 60 minutes or longer, in the order of the largest number of minutes first and display the top 40 results.

### Student Solution

In [0]:
%%bigquery --project ...

### Answer Key

**Solution**

In [0]:
%%bigquery --project replace_with_your_project_id
SELECT
  duration_minutes, start_station_id, end_station_id
FROM
  `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE
  duration_minutes >= 60
ORDER BY
  duration_minutes DESC
LIMIT
  40

**Validation**

In [0]:
# TODO(sangto)

## Exercise 3: Aggregation

Compute the average duration of bike trips for each starting station id and list the results in order of highest average to lowest average.

### Student Solution

In [0]:
%%bigquery --project ...

### Answer Key

**Solution**

In [0]:
%%bigquery --project replace_with_your_project_id
SELECT
  start_station_id, AVG(duration_minutes)
FROM
  `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY
  start_station_id
ORDER BY
  AVG(duration_minutes) DESC
LIMIT
  10

**Validation**

In [0]:
# TODO(sangto)

## Exercise 4: Joining

Use `JOIN` to show the station IDs of active stations and the duration of bike trips originating and ending at the same station with subscribe type Annual.

### Student Solution

In [0]:
%%bigquery --project ...

### Answer Key

**Solution**

In [0]:
%%bigquery --project replace_with_your_project_id
SELECT
  station_id, AVG(duration_minutes)
FROM
  `bigquery-public-data.austin_bikeshare.bikeshare_trips`
  JOIN `bigquery-public-data.austin_bikeshare.bikeshare_stations`
ON
  `bigquery-public-data.austin_bikeshare.bikeshare_trips`.start_station_id = 
  `bigquery-public-data.austin_bikeshare.bikeshare_stations`.station_id
WHERE
  subscriber_type = 'Annual'
  AND start_station_id = end_station_id
  AND status = 'active'
GROUP BY
  station_id
LIMIT
  10

**Validation**

In [0]:
# TODO(sangto)